{% block form9 %}
<h3>Guest Hostel Room Allotment</h3>
<div class="ui pointing secondary menu">
                                <a class=" active item" data-tab="hostel_guest">
                                Approvals
                               </a>

                                <a class="item" data-tab="cancelled_guest">
                                 Cancelled
                                </a>
                                 <a class="item" data-tab="appoved_guest">
                                 Approved
                                </a>
                          </div>
  <!--Approvals start-->
                 <div class="ui tab active segment" data-tab="hostel_guest">
                     <table class="ui very basic  celled table">
                         <thead>
                                            <tr>
                                                <th></th>
                                                <th>Hall no</th>
                                                <th>Name</th>
                                                 <th>Arrival Date</th>
                                                 <th>Leaving Date</th>
                                                
                                            </tr>
                        </thead>
                         <tr>
                                <td><div class="ui fitted checkbox">
                            <input type="checkbox"><label></label>
                        </div></td>
                                <td> 3</td>
                                <td>Name 1</td>
                                <td>30/3/2018</td>
                                <td>30/3/2018</td>
                                
                         </tr>
                         
                     </table>
                     
            <div class="ui primary right floated button">Approve Selected</div>
            <div class="ui red right floated button">Reject Selected</div>

            <br>
            <br>

            <div class="ui divider"></div>
                     
                 </div>
                 
                 <!--Approvals end-->
                 <!--Cancelled starts-->
                  <div class="ui tab segment" data-tab="cancelled_guest">
                       <table class="ui very basic  celled table">
                      <thead>
                                            <tr>
                                                <th>Hall no</th>
                                                <th>Name</th>
                                                 <th>Arrival Date</th>
                                                 <th>Leaving Date</th>
                                                <th>Comment</th>
                                            </tr>
                    </thead>
                           <tr>
                                <td> 3</td>
                                <td>Name 1</td>
                                <td>30/3/2018</td>
                                <td>30/3/2018</td>
                                <td>
                                    <div class="ui form">
                                                <div class="field">
                                                <textarea rows="2" required></textarea> </div>
                                                </div>
                             </td>
                                
                         </tr>
                      </table>
                 </div>
                 <!--Cancelled end-->
                 <!--Approved start-->
                <div class="ui tab segment" data-tab="appoved_guest">
                     <table class="ui very basic  celled table">
                      <thead>
                                            <tr>
                                                <th>Hall no</th>
                                                <th>Name</th>
                                                 <th>Arrival Date</th>
                                                 <th>Leaving Date</th>
                                            </tr>
                    </thead>
                           <tr>
                                <td> 3</td>
                                <td>Name 1</td>
                                <td>30/3/2018</td>
                                <td>30/3/2018</td>
                                
                         </tr>
                      </table>
                 </div>
                 <!--Approved end-->

{% endblock form9 %}