{% block newClubApprovals%}
<h3>New Club Approvals Approval</h3>
{% comment %}The tab menu starts here!{% endcomment %}
	<div class="ui pointing secondary menu">
        <a class=" active item" data-tab="club">
            Approvals
        </a>

        <a class="item" data-tab="cancelled">
            Cancelled
        </a>
        <a class="item" data-tab="appoved">
            Approved
        </a>
    </div>

    <div class="ui active  tab segment" data-tab="club">
    <table class="ui very basic celled table">
    	<thead>
		<tr>
			<th></th>
			<th>Club Name</th>
			<th>Category</th>
			<th>Co-ordinator</th>
			<th>Co Co-ordinator</th>
			<th>Faculty Incharge</th>
			<th>Club File</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><div class="ui fitted checkbox">
                            <input type="checkbox"></td>
			<td>Name1</td>
			<td>Technical Club</td>
			<td>A1</td>
			<td>B1</td>
			<td>XYZ</td>
		</tr>
	</tbody>
    </table>
       <br>

            <div class="ui primary right floated button">Approve Selected</div>
            <div class="ui red right floated button">Reject Selected</div>

            <br>
            <br>

            <div class="ui divider"></div>
	</div>
<div class="ui  tab segment" data-tab="cancelled">
  <table class="ui very basic celled table">
    	<thead>
		<tr>
			<th>Club Name</th>
			<th>Category</th>
			<th>Co-ordinator</th>
			<th>Co Co-ordinator</th>
			<th>Faculty Incharge</th>
			<th>Club File</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name1</td>
			<td>Technical Club</td>
			<td>A1</td>
			<td>B1</td>
			<td>XYZ</td>
			<td><a class="ui inverted circular icon button" style="margin: auto;" target="_blank" href="">
                            <i class="large attach black icon"></i>
                        </a></td>
			<td><div class="ui form">
						<div class="field">
							<textarea rows="2" required></textarea> </div>
						</div>
			</td>
		</tr>
	</tbody>
    </table>
</div>
<div class="ui  tab segment" data-tab="appoved">
<table class="ui very basic celled table">
    	<thead>
		<tr>
			<th>Club Name</th>
			<th>Category</th>
			<th>Co-ordinator</th>
			<th>Co Co-ordinator</th>
			<th>Faculty Incharge</th>
			<th>Club File</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name1</td>
			<td>Technical Club</td>
			<td>A1</td>
			<td>B1</td>
			<td>XYZ</td>
			<td><a class="ui inverted circular icon button" style="margin: auto;" target="_blank" href="">
                            <i class="large attach black icon"></i>
                        </a></td>
			<td><div class="ui form">
						<div class="field">
							<textarea rows="2" required></textarea> </div>
						</div>
			</td>
		</tr>
	</tbody>
    </table>
</div>


{% endblock newClubApprovals%}