{% block form1 %}

    {% comment %}The tab menu starts here!{% endcomment %}
  
                <!--Assistantship Starts-->
               
                    
                     <div class="ui active  tab " data-tab="cse">
                    
                    <div class="ui form">
                          <div class="inline fields">
                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="frequency" checked="checked">
                                <label> CSE </label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>ECE</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>MECH</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>DESIGN</label>
                              </div>
                            </div>
                               <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="frequency">
                                <label>NS</label>
                              </div>
                            </div>
                          </div>
                        </div>
                    <br>
                    
                    <table class="ui very basic collapsing celled table">
                        <thead>
                            <tr>
                                <th>Prof</th>
                                <th>Student List</th>
                                <th>Action</th>
                                <th>Comments</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h4 class="ui image header">
                                        <img src="img/matthew.png" class="ui mini rounded image">
                                        <div class="content">
                                            Lena
                                            <div class="sub header">Human Resources
                                            </div>
                                        </div>
                                    </h4>
                                </td>
                                <td>
                                    <a href="file:///C:/Users/Mayank%20Saurabh/Music/Dean%20Acad/file/first.pdf" target="_blank">View List</a>
                                </td>
                                <td>
                                   <div class="ui checkbox">
                                      <input type="checkbox" name="example">
                                      <label></label>
                                    </div>
                                </td>
                                <td>
                                     <div class="ui form">
                                        <div class="field">
                                            <textarea rows="2" ></textarea>
                                        </div>
                                        <!--<button class="ui primary loading button">Loading</button>-->
                                    </div>
                                </td>
                               
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="ui image header">
                                        <img src="img/matthew.png" class="ui mini rounded image">
                                        <div class="content">
                                            Matthew
                                            <div class="sub header">Fabric Design
                                            </div>
                                        </div>
                                    </h4>
                                </td>
                                <td>
                                    <a href="file:///C:/Users/Mayank%20Saurabh/Music/Dean%20Acad/file/first.pdf" target="_blank">View List</a>
                                </td>
                                <td>
                                    <div class="ui checkbox">
                                      <input type="checkbox" name="example">
                                      <label></label>
                                    </div> 
                                </td>
                                   <td>
                                     <div class="ui form">
                                        <div class="field">
                                            <textarea rows="2" ></textarea>
                                        </div>
                                        <!--<button class="ui primary loading button">Loading</button>-->
                                    </div>
                                </td>
                             
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="ui image header">
                                        <img src="img/matthew.png" class="ui mini rounded image">
                                        <div class="content">
                                            Lindsay
                                            <div class="sub header">Entertainment
                                            </div>
                                        </div>
                                    </h4>
                                </td>
                                <td>
                                    <a href="file:///C:/Users/Mayank%20Saurabh/Music/Dean%20Acad/file/first.pdf" target="_blank">View List</a>
                                </td>
                                <td>
                                    <div class="ui checkbox">
                                      <input type="checkbox" name="example">
                                      <label></label>
                                    </div>
                                </td>
                                   <td>
                                     <div class="ui form">
                                        <div class="field">
                                            <textarea rows="2" ></textarea>
                                        </div>
                                        <!--<button class="ui primary loading button">Loading</button>-->
                                    </div>
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="ui image header">
                                        <img src="img/matthew.png" class="ui mini rounded image">
                                        <div class="content">
                                            Mark
                                            <div class="sub header">Executive
                                            </div>
                                        </div>
                                    </h4>
                                </td>
                                <td>
                                    <a href="file:///C:/Users/Mayank%20Saurabh/Music/Dean%20Acad/file/first.pdf" target="_blank">View List</a>
                                </td>
                                <td>
                                    <div class="ui checkbox">
                                      <input type="checkbox" name="example">
                                      <label></label>
                                    </div> 
                                </td>
                                   <td>
                                     <div class="ui form">
                                        <div class="field">
                                            <textarea rows="2" ></textarea>
                                        </div>
                                        <!--<button class="ui primary loading button">Loading</button>-->
                                    </div>
                                </td>
                              
                            </tr>
                        </tbody>
                      
                    </table>
                   
                                  <div class="ui   buttons">
                                        <button class="ui button">Accept</button>
                                        <div class="or"></div>
                                        <button class="ui positive button">Reject</button>
                                    </div>
                </div> 
               
{% endblock form1%}